*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
html{
    background: url(../img/peakpx.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo{
    color: #fff;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.531);
    text-align: center;
    font-size: 5em;
    margin: 20px;
    animation: backInDown;
    animation-duration: 0.5s; 
    transition: all 500ms ease;
}
.mensaje{
    text-align: center;
    color: #fff;
    margin: 30px;
    font-size: 1.5em;
    font-weight: bold;
    animation: backInLeft;
    animation-duration: 0.5s; 
    transition: all 500ms ease;
}
.text{
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    margin: 50px;
    font-weight: bold;
    animation: backInRight;
    animation-duration: 0.5s; 
    transition: all 500ms ease;
}

#cuenta{
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}

.simply-section{
    background: rgba(189, 207, 255, 0.219);
    padding: 100px;
    text-align: center;
    color: #fff;
    width: 180px;
    height: 180px;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: backInLeft;
    animation-duration: 0.5s; 
    transition: all 500ms ease;
}

.simply-amount{
    display: block;
    font-size: 42px;
    font-weight: bold;
}
